body{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#ffd6e7,#ffeef5);
    overflow:hidden;
    font-family:Arial,sans-serif;
}

h1{
    color:#d6336c;
    margin-bottom:20px;
}

#heart{
    font-size:120px;
    cursor:pointer;
    transition:transform .2s;
    user-select:none;
}

#counter{
    margin-top:20px;
    font-size:28px;
    color:#d6336c;
    font-weight:bold;
}
@keyframes heartbeat {

    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.15);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }

}

.beat{
    animation: heartbeat .3s;
}
#heartParticles{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
    overflow:hidden;
}

.small-heart{

    position:absolute;
    font-size:24px;

    animation: floatUp 1.2s linear forwards;

}

@keyframes floatUp{

    0%{
        opacity:1;
        transform:translateY(0) scale(1);
    }

    100%{
        opacity:0;
        transform:translateY(-120px) scale(1.8);
    }

}
#message{
    margin-top:15px;
    font-size:22px;
    color:#c2185b;
    text-align:center;
    width:80%;
    max-width:500px;
    line-height:1.5;
    transition:.3s;
}
/* 100. tıklama sürprizi */

.hidden{
    display:none !important;
}}

#finalMessage{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.65);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

.final-box{

    width:90%;
    max-width:500px;

    background:white;

    padding:35px;

    border-radius:25px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.35);

    animation:popup .5s ease;
}

.final-box h2{

    color:#e91e63;

}

.final-box p{

    font-size:20px;

    line-height:1.7;

    color:#444;

}

.final-box button{

    margin-top:25px;

    border:none;

    padding:15px 30px;

    border-radius:40px;

    background:#ff4f87;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

.final-box button:hover{

    transform:scale(1.08);

}

@keyframes popup{

    from{
        transform:scale(.5);
        opacity:0;
    }

    to{
        transform:scale(1);
        opacity:1;
    }

}
